@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-linear: linear-gradient(to right, #660000, #cc3200);
  --secondary-linear: linear-gradient(to right, #8b8b8b, #aeaeae);

  --base: #ffffff;
  --grey-base: #f6f6f6;
  --separator: #d9d9d9;
  --primary-text: #888888;
  --secondary-text: #cc3200;

  --inter-font: "Inter", sans-serif;
  --title-size: 2.488rem;
  --sub-title-size: 1.728rem;
  --content-size: 1.25rem;
  --base-size: 1rem;
  --sub-size: 0.833rem;
  --text-center: center;

  --side-m-pad: 10vw; /*mobile*/
  --side-d-pad: 100px; /*desktop*/
  --section-pad: 40px;
  --button-pad: 10px 15px;
  --section-gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--inter-font);
  text-align: var(--text-center);
  /* line-height: 1.5; */
}





/* -------NATIVES------- */
h1 {
  font-size: var(--title-size);
}
h3 {
  font-size: var(--sub-title-size);
}
h4{
    font-size: var(--content-size);
    color: var(--secondary-text);
}
a {
  text-decoration: none;
}
main {
  width: 100%;
}





/* -------SECTIONS------- */
.sections {
  padding: var(--section-pad) var(--side-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
}
.sections h3,
.relinks {
  background: var(--primary-linear);
  color: transparent;
  background-clip: text;
  font-weight: 700;
}
.relinks{
    font-size: var(--content-size);
}
.sections p {
  background: var(--secondary-linear);
  color: transparent;
  background-clip: text;
  font-size: var(--content-size);
}





/* -------HERO------- */
.hero-section {
  background: var(--grey-base);
  height: 80vh;
  padding: 0 var(--side-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
}
.hero-title {
  max-width: 900px;
}
.hero-ctas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ctas-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.donate-cta,
.join-cta {
  padding: var(--button-pad);
  background: var(--separator);
  font-weight: 700;
  border-radius: 1000px;
}
.donate-cta {
  background: var(--primary-linear);
  color: var(--base);
}
.join-cta {
  background: none;
  border: 1px solid var(--base);
  color: var(--base);
}
.donate-count {
  padding: 10px 15px;
  background: var(--separator);
  font-size: var(--sub-size);
  border-radius: 1000px;
}





/* -------NUMBER------- */
/* change no of items - deallocate n5 value, change repeat(4 to 3), and from media-q */
.number-section {
  background: var(--base);
  padding: var(--section-gap);
}
.numbers {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 300px));
  justify-content: space-evenly;
  gap: var(--section-gap);
}
.numbers p{
    margin-top: 5px;
  font-size: var(--base-size);
}
.n5 {
  grid-column-start: 2;
  grid-column-end: 3;
}





/* -------ABOUT------- */
.about-section {
  background: var(--grey-base);
}
.about-des {
  /* font-size: var(--content-size); */
  max-width: 900px;
}
.abouts {
  width: 100%;
  max-width: 900px;
  height: 400px;
  /* background: lightblue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.as {
    border: 1px solid var(--separator);
    border-radius: 10px;
}
.a1 {
    grid-column-start: 1;
    grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}






/* -------WORK------- */
.work-section {
  background: var(--base);
}
.work-des{
    max-width: 900px;
}
.works{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ws{
    max-width: 400px;
    border: 1px solid var(--separator);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}
.w1{
    transform: rotate(-5deg);
}
.w3{
    transform: rotate(5deg);
}
.w-img{
    width: 100%;
    height: 200px;
    border: 1px solid var(--separator);
    border-radius: 10px;
}
.ws p{
    font-size: var(--base-size);
    margin: 0 10px;
}





/* -------PARTNER------- */
.partner-section {
  background: var(--grey-base);
}





/* -------MEDIA------- */
.media-section {
  background: var(--base);
}





/* -------TEST------- */
.test-section {
  background: var(--grey-base);
}








/* ----------MEDIA QUERIES----------- */
@media (width < 768px) {
  h1 {
    font-size: 2rem;
  }
  .hero-section {
    padding: 0 var(--side-m-pad);
  }
  .sections {
    padding: var(--section-pad) var(--side-m-pad);
  }
  .numbers {
    grid-template-columns: repeat(2, minmax(100px, 200px));
    justify-content: space-evenly;
  }
  .n5 {
    grid-column: auto;
  }

  .abouts {
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .works{
    flex-direction: column;
    gap: var(--section-gap);
  }
}

@media (1024px >= width >= 768px) {
    .numbers {
        grid-template-columns: repeat(3, minmax(100px, 200px));
        justify-content: space-evenly;
    }
    
    .n5 {
        grid-column: auto;
    }
    .works{
      flex-direction: column;
      gap: var(--section-gap);
    }
}
