@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-linear: linear-gradient(to right, #660000, #cc3200);
  --secondary-linear: linear-gradient(to right, #8b8b8b, #AEAEAE);

  --base: #ffffff;
  --grey-base: #f6f6f6;
  --separator: #d9d9d9;
  --primary-text: #888888;
  --secondary-text: #cc3200;
  --text-accent1: #0088FF;
  --text-accent2: #00B960;
  --text-accent3: #FFCA28;

  --inter-font: "Inter", sans-serif;
  --title-size: 2.488rem;
  --sub-title-size: 1.728rem;
  --content-size: 1.25rem;
  --base-size: 1rem;
  --sub-size: 0.833rem;
  --text-center: center;

  --side-m-pad: 10vw; /*mobile*/
  --side-d-pad: 100px; /*desktop*/
  --section-pad: 40px;
  --button-pad: 10px 15px;
  --section-gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  /* scroll-behavior: smooth; */
}

body {
  font-family: var(--inter-font);
  text-align: var(--text-center);
  /* line-height: 1.5; */
}

/* -------NATIVES------- */
h1 {
  font-size: var(--title-size);
}
h3 {
  font-size: var(--sub-title-size);
}
h4 {
  font-size: var(--content-size);
  color: var(--secondary-text);
}
a {
  text-decoration: none;
}
main {
  width: 100%;
}

/* -------SECTIONS------- */
.sections, footer {
  padding: var(--section-pad) var(--side-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
}
.sections h3,
.relinks {
  background: var(--primary-linear);
  color: transparent;
  background-clip: text;
  font-weight: 700;
}
.relinks {
  font-size: var(--content-size);
}
.sections p {
  background: var(--secondary-linear);
  color: transparent;
  background-clip: text;
  font-size: var(--content-size);
}




/* -------HERO------- */
.hero-section {
  background: var(--grey-base);
  height: 60vh;
  padding: 0 var(--side-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero-title, .hero-des {
  max-width: 900px;
}
.hero-des{
  color: var(--primary-text);
}
.hero-ctas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ctas-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.donate-cta,
.join-cta {
  padding: var(--button-pad);
  background: var(--separator);
  font-weight: 700;
  border-radius: 1000px;
}
.donate-cta {
  background: var(--primary-linear);
  color: var(--base);
}
.join-cta {
  background: none;
  border: 1px solid var(--base);
  color: var(--base);
}
.donate-count {
  padding: var(--button-pad);
  background: var(--separator);
  font-size: var(--sub-size);
  border-radius: 1000px;
}



/* -------OUR PROGRAMS------- */
.programs {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: left;
}
.ps {
  width: 100%;
  border: 1px solid var(--separator);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
}
.p-block-link{
  text-decoration: none;
}
.p-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 20px;
}
.p-content{
  max-height: 0;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.7s;
}

/* ALL ACCORDION ACTIONS (after extension) */
.ps:target .p-content{
  max-height: 1000px;
  padding-bottom: 20px;
}
.ps:target .p-block{
  padding: 20px 20px 5px 20px;
}
.ps:target .p-des-all{
  display: none;
}
/* ACCORDION ACTIONS END HERE */

.ps .p-title{
  font-size: var(--content-size);
  font-weight: 700;
  cursor: pointer;
}
.p1-title{
  color: var(--text-accent1);
}
.p2-title{
  color: var(--text-accent2);
}
.p3-title{
  color: var(--text-accent3);
}
.ps p {
  font-size: var(--base-size);
}
.img-cont{
  width: 100px;
  height: 200px;
  box-shadow: 10px 10px 20px 0 rgba(0,0,0, 0.1);
}




/* ------FOOTER------- */
footer{
  background: var(--grey-base);
}
.footer-title {
    background: var(--primary-linear);
    color: transparent;
    background-clip: text;

}
.footers {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--section-gap);
    text-align: left;
  }
  .adds{
    background: var(--secondary-linear);
    color: transparent;
    background-clip: text;
    margin-bottom: 5px;
  }
  .pls, .fls, .ins, .footers p{
    color: var(--primary-text);
  }
  .pl-donate, .fl-joinus{
    text-decoration: underline;
    color: var(--secondary-text);
  }
  .flinks{
    display: flex;
    gap: var(--section-gap);
  }
  .page-links, .foundation-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .addresses{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .contact-form{
    background: var(--base);
    min-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--separator);
    border-radius: 10px;
    padding: 20px;
  }
  .inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .inps{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--separator);
    border-radius: 10px;
  }
  .submit-btn{
    width: 100%;
    color: var(--base);
    background: var(--primary-linear);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  
  
  
  
  /* ----------MEDIA QUERIES----------- */
  @media (width < 768px) {
    h1 {
      font-size: 2rem;
    }
    .hero-section {
      padding: 0 var(--side-m-pad);
    }
    .sections, footer {
      padding: var(--section-pad) var(--side-m-pad);
    }
    .footers{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  
  
  @media (1024px >= width >= 768px) {

  }
  